{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="py-5 text-center">
            <a href="/"><h2>City Weather</h2></a>
            <p>Search Weather Information in Australia</p>
        </div>

      <div class="row">
        <div class="col-md-8">
            <div id="mapid"></div>
        </div>
        <div class="col-md-3">
            <div id="main-weather-info">
                <img src="https://openweathermap.org/img/w/{{ city_weather.weather[0].icon }}.png" />
                <h2>{{ city_weather.name }}</h4>
                <h4>{{ city_weather.weather[0].main }}</h4>
                <h3>{{ city_weather.main.temp }}°C</h3>
            </div>
            <div id="detail-weather-info">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Wind</td>
                            <td>{{ city_weather.wind.speed }}m/s | {{ city_weather.wind.deg }}°</td>
                        </tr>
                        <tr>
                            <td>Pressure</td>
                            <td>{{ city_weather.main.pressure }} hpa</td>
                        </tr>
                        <tr>
                            <td>Humidity</td>
                            <td>{{ city_weather.main.humidity }} %</td>
                        </tr>
                        <tr>
                            <td>Sunrise</td>
                            <td id="sunrise"></td>
                        </tr>
                        <tr>
                            <td>Sunset</td>
                            <td id="sunset"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <h3>Nearby City</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>City</th>
                    <th>Wind</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                </tr>
            </thead>
            <tbody>
            {% set num = 1 %}
            {% for weather in near_weather %}
                <tr>
                    <td>{{ num }}</td>
                    <td>
                        <img src="https://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" />
                        <br /><a href="/weather?city={{ weather.name }}">{{ weather.name }}</a>
                        <br />{{ city_weather.weather[0].main }}
                        <br/ >{{ city_weather.main.temp }}°C
                    </td>
                    <td>{{ weather.wind.speed }} m/s | {{ weather.wind.deg }}°</td>
                    <td>{{ weather.main.pressure }} hpa</td>
                    <td>{{ weather.main.humidity }} %</td>
                </tr>
            {% set num = num + 1 %}
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" rel="stylesheet">
        <style>
            #mapid { height: 400px; }
        </style>
    {% endblock %}
    {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
        <script>
            function convert_time (time, elm) {
                var date = new Date(time*1000);
                var hours = date.getHours();
                var minutes = "0" + date.getMinutes();
                var seconds = "0" + date.getSeconds();

                var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
                $("#"+elm).html(formattedTime)
            }
            var sunrise = {{ city_weather.sys.sunrise }};
            var sunset = {{ city_weather.sys.sunset }};

            convert_time(sunrise, 'sunrise');
            convert_time(sunset, 'sunset');

            var lat = {{ city_weather.coord.lat }};
            var lon = {{ city_weather.coord.lon }};
            var mymap = L.map('mapid').setView([lat,lon], 10);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);
            var infoPopup = $("#main-weather-info").html();
            L.marker([lat,lon]).addTo(mymap)
                .bindPopup(infoPopup).openPopup();
            var coord_near = [
                {% for weather in near_weather %}
                ['<img src="https://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" />'+
                '<h2>{{ weather.name }}</h4>'+
                '<h4>{{ weather.weather[0].main }}</h4>'+
                '<h3>{{ weather.main.temp }}°C</h3>',
                {{ weather.coord.lat }}, {{ weather.coord.lon }}],
                {% endfor %}
            ];
            for (var i = 0; i < coord_near.length; i++) {
                marker = new L.marker([coord_near[i][1],coord_near[i][2]])
                    .bindPopup(coord_near[i][0])
                    .addTo(mymap);
            }
        </script>
    {% endblock %}
{% endblock %}

